h1 {

    color: rgb(104, 78, 78);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container {
    color: rgb(98, 74, 74);
    ;
}

.enlace {

    color: rgb(220, 78, 12);
    font-size: 20px;
}


body {

    background-color: rgb(221, 220, 217);
}


nav {

    font-size: 20px;
    border-color: rgb(81, 79, 79);

}

img {
    width: 100%;
    height: auto;
}


h2 {
    font-family: Verdana, Geneva,
        Tahoma, sans-serif;
    background-color: rgb(134, 106, 106);
    color: rgb(207, 201, 197);
    padding: 0px;
    font-size: 20px;
}

ul {

    font-family: Verdana, Geneva,
        Tahoma, sans-serif;
    color: rgb(98, 74, 74);
    font-size: 13px;

}

.links {

    color: rgb(220, 78, 12);
    font-size: 13px;

}

p {
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(98, 74, 74);
}

.fuente1 {
    color: rgb(41, 161, 213);
    font-size: 13px;
}

.fuente2 {
    color: red;
    font-size: 13px;
    
}


#titulo {
    color: rgb(243, 190, 69);
}



section {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(98, 74, 74);
    font-size: 13px;
}